In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import  pickle

In [2]:
dfc = pd.read_csv("With_Import_Export.csv")
dfc

,Production_Year,Month,States_In_Number,Variety_Rank,Modal Price,Import(Quantity in lakh bales of 170 kgs),Export(Quantity in lakh bales of 170 kgs)
0,2012,1,1,56,3873.636364,7.51,129.57
1,2012,2,1,56,3721.388889,7.51,129.57
2,2012,3,1,56,3576.388889,7.51,129.57
3,2012,4,1,56,3623.846154,7.51,129.57
4,2012,5,1,56,3684.500000,7.51,129.57
...,...,...,...,...,...,...,...
36205,2018,9,6,56,4320.000000,15.80,67.59
36206,2018,10,6,56,5450.000000,15.80,67.59
36207,2018,12,6,56,5423.666667,15.80,67.59
36208,2019,1,6,56,5337.500000,35.37,43.54
36209,2019,2,6,56,5337.000000,35.37,43.54

In [3]:
x = dfc.drop(['Modal Price'] ,axis = 1 )
x

,Production_Year,Month,States_In_Number,Variety_Rank,Import(Quantity in lakh bales of 170 kgs),Export(Quantity in lakh bales of 170 kgs)
0,2012,1,1,56,7.51,129.57
1,2012,2,1,56,7.51,129.57
2,2012,3,1,56,7.51,129.57
3,2012,4,1,56,7.51,129.57
4,2012,5,1,56,7.51,129.57
...,...,...,...,...,...,...
36205,2018,9,6,56,15.80,67.59
36206,2018,10,6,56,15.80,67.59
36207,2018,12,6,56,15.80,67.59
36208,2019,1,6,56,35.37,43.54
36209,2019,2,6,56,35.37,43.54

In [4]:
y = dfc['Modal Price']
y

0        3873.636364
1        3721.388889
2        3576.388889
3        3623.846154
4        3684.500000
            ...
36205    4320.000000
36206    5450.000000
36207    5423.666667
36208    5337.500000
36209    5337.000000
Name: Modal Price, Length: 36210, dtype: float64

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [6]:
from sklearn.ensemble import RandomForestRegressor   
  
#Create a Random Forest regressor object from Random Forest Regressor class
RFReg = RandomForestRegressor(n_estimators = 80,bootstrap = True,criterion='mse')

  
#Fit the random forest regressor with training data represented by X_train and y_train
RFReg.fit(X_train, y_train)

RandomForestRegressor(n_estimators=80)

In [36]:
y_predict_rfr = RFReg.predict((X_test))

#Model Evaluation using R-Square for Random Forest Regression
from sklearn import metrics
r_square = metrics.r2_score(y_test, y_predict_rfr)
print('R-Square Error associated with Random Forest Regression is:', r_square)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_predict_rfr))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_predict_rfr))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_predict_rfr)))

R-Square Error associated with Random Forest Regression is: 0.7351785557135524
Mean Absolute Error: 282.49484477486453
Mean Squared Error: 207836.15114582548
Root Mean Squared Error: 455.8905034608919

In [43]:
Price_pred = RFReg.predict([[2011,    4,    2,   75 ,2.38, 76.50]])
print("Predicted Price: % d"% Price_pred)

Predicted Price:  6471

In [38]:
RFReg.score(X_test,y_test)

0.7351785557135524

In [39]:
RFReg.score(X_train,y_train)

0.8287340564041308

In [10]:
pickle.dump(RFReg,open('model.pkl','wb'))
model = pickle.load(open('model.pkl','rb'))

In [17]:
RFReg.predict([[2021,    2,    8,   57 , 11 ,75]])

ValueError: X has 6 features, but DecisionTreeRegressor is expecting 4 features as input.

In [12]:
dfc.to_pickle('my_df.pickle')

In [15]:
dfc1 = pd.read_pickle('my_df.pickle')
dfc1

       Production_Year  Month  States_In_Number  Variety_Rank  Modal Price
0                 2012      1                 1            56  3873.636364
1                 2012      2                 1            56  3721.388889
2                 2012      3                 1            56  3576.388889
3                 2012      4                 1            56  3623.846154
4                 2012      5                 1            56  3684.500000
...                ...    ...               ...           ...          ...
36205             2018      9                 6            56  4320.000000
36206             2018     10                 6            56  5450.000000
36207             2018     12                 6            56  5423.666667
36208             2019      1                 6            56  5337.500000
36209             2019      2                 6            56  5337.000000

[36210 rows x 5 columns]